# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=
SUPABASE_URL=https://vahpgsynjlmsfvaeljug.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZhaHBnc3luamxtc2Z2YWVsanVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY0NTUwODksImV4cCI6MjA3MjAzMTA4OX0.kTa2W1cp-Wkt76Xdsx21obMqWgv1vaS-rq4tuSxNsZg
